<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hotelat2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hotelat2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hotelat2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hotelat2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User ID=null@software2.database.windows.net;Password=software_2" Name="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=null@software2.database.windows.net;Password=software_2" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProyectoV1.Models.ApplicationDbContext, ProyectoV1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProyectoV1.Properties.Settings.Software2" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User ID=null@software2.database.windows.net;Password=software_2" Name="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=null@software2.database.windows.net;Password=software_2" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=software2.database.windows.net;Initial Catalog=software2;User ID=software2;Password=software_2" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ProyectoV1.Properties.Settings.Software2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=software2.database.windows.net;Initial Catalog=software2;User ID=software2;Password=software_2" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="software2FinalConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User ID=null@software2.database.windows.net;Password=software_2" Name="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=null@software2.database.windows.net;Password=software_2" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=software2.database.windows.net;Initial Catalog=software2Final;Persist Security Info=True;User ID=software2;Password=software_2" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\software2FinalConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=software2.database.windows.net;Initial Catalog=software2Final;Persist Security Info=True;User ID=software2;Password=software_2" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HotelConnectionString" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User ID=null@software2.database.windows.net;Password=software_2" Name="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=null@software2.database.windows.net;Password=software_2" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=Hotel;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HotelConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=Hotel;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="software2Entities" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User ID=null@software2.database.windows.net;Password=software_2" Name="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=null@software2.database.windows.net;Password=software_2" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=software2.database.windows.net;Initial Catalog=software2;User ID=software2;Password=software_2;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\software2Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=software2.database.windows.net;initial catalog=software2;user id=software2;password=software_2;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=null@software2.database.windows.net;Password=software_2</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HotelConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=null@software2.database.windows.net;Password=software_2</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProyectoV1.Properties.Settings.Software2-Web.config Connection String">
      <ParameterValue>Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=null@software2.database.windows.net;Password=software_2</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)software2Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:software2.database.windows.net,1433;initial catalog=software2;user id=null@software2.database.windows.net;password=software_2;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)software2FinalConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=null@software2.database.windows.net;Password=software_2</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>